<h1>TinyApp</h1>
<div>
  <a href ="/login"> Login </a>
    |
  <a href='/register'>Register</a>
</div>
<% if(user) { %>
  <p>You are logged in as: <%= user.email %></p>
  <form class="form-inline" action="/logout" method="POST">
    <div class="form-group mb-2">
      <button type="submit" class="btn btn-primary">Logout</button>
    </div>
  </form>
  <div>
    <a href ="/urls"> URLs </a>
     |
    <a href='/urls/new'>Create a new TinyURL</a>
  </div>
<% } else { %>
  <p>You are not logged in!</p>
  <div>
    <a href ="/urls"> URLs </a>
     |
    <a href='/urls/new'>Create a new TinyURL</a>
  </div>
<% }%>