<h1>TinyApp</h1>
<% if(username) { %>
  <p>You are logged in as: <%= username %></p>
  <form class="form-inline" action="/logout" method="POST">
    <div class="form-group mb-2">
      <button type="submit" class="btn btn-primary">Logout</button>
    </div>
  </form>
<% } else { %>
  <form class="form-inline" action="/login" method="POST">
    <div class="form-group mb-2">
      <label for="username">Login to your Account </label>
      <input class="form-control" type="text" name="username" placeholder="username" style="width: 300px; margin: 1em">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
  <p>You are not logged in!</p>
<% }%>